<bnk-auth-layout>
    <div class="verify-container">
        @switch (status) {
        @case ('loading') { <div class="icon loading">
            <div class="spinner"></div>
        </div> }
        @case ('success') { <div class="icon success">✅</div> }
        @case ('error') { <div class="icon error">❌</div> }
        }
        <h1>
            @switch (status) {
            @case ('loading') { Verifing email }
            @case ('success') { Email verified }
            @case ('error') { Verification Failed }
            }
        </h1>
        <p>
            @switch (status) {
            @case ('loading') { please wait while we are verify email address }
            @case ('success') {your email has been verified successfully, you can login to your account }
            @case ('error') { this verification link is invalid or has expired }
            }
        </p>
        @if (status === 'success') {<button routerLink="/auth">Go to Login</button>}
        @if (status === 'error') { <button routerLink="/auth/resend-verification">Resend Varification Email</button>788}
    </div>
</bnk-auth-layout>