<section
    class="auth-tab-row"
    role="tablist"
    aria-label="Account Authorization"
  >
    <button
      (click)="onTabChange(authTab.Login)"
      [class.active]="activeTab === authTab.Login"
      role="tab"
      class="tab-btn"
      aria-controls="section-login"
    >
      {{ STRING_LITERALS[2] }}
    </button>
    <button
      (click)="onTabChange(authTab.Register)"
      [class.active]="activeTab === authTab.Register"
      role="tab"
      class="tab-btn"
      aria-controls="section-register"
    >
      {{ STRING_LITERALS[3] }}
    </button>
  </section>