@switch (useType) {
@case ('login') {
<form [formGroup]="loginForm" (ngSubmit)="onSubmit('login')" autocomplete="on">
  <div class="form-field" [class.error-state]="checkElementValidation('email', 'login')">
    <label for="login-user">Username / Email</label>
    <input type="email" required placeholder="client@banking.ca" autocomplete="username" formControlName="email"
      id="login-user" />
    @if (getValidationMessage('email', 'login')) {
    <span class="error-text">{{
      getValidationMessage('email', 'login')
      }}</span>
    }
  </div>
  <div class="form-field" [class.error-state]="checkElementValidation('password', 'login')">
    <div class="field-label-split">
      <label for="login-pass">Password</label>
      <a href="#" class="inline-link">Forgot Access?</a>
    </div>
    <input type="text" required placeholder="••••••••" autocomplete="current-password" formControlName="password"
      id="login-pass" />
    @if (getValidationMessage('password', 'login')) {
    <span class="error-text">{{
      getValidationMessage('password', 'login')
      }}</span>
    }
  </div>
  <div class="form-utils" [class.error-state]="checkElementValidation('saveDevice', 'login')">
    <label class="custom-checkbox">
      <input type="checkbox" id="remember-device" formControlName="saveDevice" required />
      <span class="checkmark"></span>
      save this device for future authentication
    </label>
  </div>
  <button [disabled]="isApiCalling" type="submit" class="btn-primary-action">
    {{ isApiCalling ? 'Loading...' : 'Authorize & Enter' }}
  </button>
</form>
}
@case ('register') {
<form [formGroup]="registerForm" (ngSubmit)="onSubmit('register')" autocomplete="on">
  <section class="two-control">
    <div class="form-field" [class.error-state]="
              checkElementValidation('firstName', 'register')
            ">
      <label for="reg-firstName">First Name</label>
      <input type="text" id="reg-firstName" required placeholder="first name" autocomplete="true"
        formControlName="firstName" />
      @if (getValidationMessage('firstName', 'register')) {
      <span class="error-text">{{
        getValidationMessage('firstName', 'register')
        }}</span>
      }
    </div>
    <div class="form-field" [class.error-state]="checkElementValidation('lastName', 'register')">
      <label for="reg-lastName">Last Name</label>
      <input type="text" id="reg-lastName" required placeholder="last name" autocomplete="true"
        formControlName="lastName" />
      @if (getValidationMessage('lastName', 'register')) {
      <span class="error-text">{{
        getValidationMessage('lastName', 'register')
        }}</span>
      }
    </div>
  </section>

  <div class="form-field" [class.error-state]="checkElementValidation('email', 'register')">
    <label for="reg-email">Email</label>
    <input type="email" id="reg-email" required placeholder="customer@bank.ca" autocomplete="email"
      formControlName="email" />
    @if (getValidationMessage('email', 'register')) {
    <span class="error-text">{{
      getValidationMessage('email', 'register')
      }}</span>
    }
  </div>
  <div class="form-field" [class.error-state]="checkElementValidation('password', 'register')">
    <label for="reg-password">Password</label>
    <input type="password" id="reg-password" required placeholder="••••••••" aria-describedby="reg-pass-error"
      autocomplete="new-password" formControlName="password" />
    @if (getValidationMessage('password', 'register')) {
    <span class="error-text">{{
      getValidationMessage('password', 'register')
      }}</span>
    }
  </div>
  <div class="form-field" [class.error-state]="
            checkElementValidation('retypePassword', 'register')
          ">
    <label for="reg-retypepassword">Retype Password</label>
    <input type="password" id="reg-retypepassword" required placeholder="••••••••" aria-describedby="reg-re-pass-error"
      autocomplete="true" formControlName="retypePassword" />
    @if (getValidationMessage('retypePassword', 'register')) {
    <span class="error-text">{{
      getValidationMessage('retypePassword', 'register')
      }}</span>
    }
  </div>
  <div class="form-utils" [class.error-state]="
            checkElementValidation('acceptTerms', 'register')
          ">
    <label class="custom-checkbox">
      <input type="checkbox" id="terms-agree" required formControlName="acceptTerms" />
      <span class="checkmark"></span>
      I accept all terms and conditions
    </label>
  </div>
  <button type="submit" class="btn-primary-action">
    Register Identity
  </button>
</form>
}
}